          </table>
        </div>
        <div class="push"></div>
      </div>
      <div id="bottomSection" class="blockSection footer">
        Weekend hack project by&nbsp;<a href="http://danbolt.github.io/">Daniel Savage</a>&nbsp;in 2015
      </div>
    </div>
    <script>
    var revisionNumber = undefined;

    $('.square').click(function(eventObject) {
      if (revisionNumber === undefined) {
        return;
      }

      var x = parseInt(eventObject.target.id[0]);
      var y = parseInt(eventObject.target.id[2]);

      $.post('grid?x=' + x + '&y=' + y + '&color=%23' + $('#swatch').css('background-color').replace('#', '') + '&revision=' + revisionNumber);
    });
    </script>
  </body>
</html>